body{
    text-align:center;
}
#main{
    font-size: 100px;
}
#main:hover{
    color: cornflowerblue;
}
button{
    background-color: hsl(182, 25%, 50%);
    border:1px solid grey;
    border-radius: 50%;
    width: 100px;
    height:50px;
    font-weight:600;
    color:floralwhite;
}
#decrease:hover{
    background-color: red;
}
#reset:hover{
    background-color: skyblue;
}
#increase:hover{
    background-color: chartreuse;
}